// Portada.scss
@use "../../styles/base/variables" as v;

.portada {
  background-color: v.$color-fondo-claro;
  padding: 4rem 1rem;
  text-align: center;

  h1 {
    color: v.$color-negro;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    background: none;
  }

  img {
    width: 100%;
    max-width: 1100px;
    border-radius: 20px;
    box-shadow: 0 10px 30px v.$color-box-shadow;
  }
}