@use "../../styles/base/variables" as v;

.albums-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$color-fondo-claro;
  min-height: calc(100vh - 70px);
  padding: 3rem 1rem;
  text-align: center;

  h2 {
    color: v.$color-negro;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
  }

  p {
    color: v.$color-TDE;
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 3rem;
  }
}