@use "../../styles/base/variables" as v;

.recomendaciones-page {
  padding: 4rem 2rem;
  background-color: v.$color-fondo-claro;

  h2 {
    color: v.$color-negro;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 3rem;
  }

  .reco-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .reco-item {
    flex: 0 1 450px;
    background: v.$color-blanco;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 15px v.$color-shadow-reco;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    transition: all 0.3s ease;

    &.open {
      box-shadow: 0 8px 25px v.$color-box-shadow;
    }

    h3 {
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: v.$color-negro;
    }

    .reco-cover {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 10px v.$color-box-shadow;
    }

    .reco-actions {
      display: flex;
      gap: 1rem;
      width: 100%;
    }

    .spotify-btn,
    .why-btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      font-weight: 700;
      padding: 0.8rem;
      border-radius: 25px;
      font-size: 0.9rem;
      text-transform: uppercase;
      transition: 0.3s ease;
      cursor: pointer;
      border: none;
      text-decoration: none;

      white-space: nowrap;
    }

    .spotify-btn {
      background: v.$color-verde;
      color: v.$color-blanco;
      &:hover {
        background: v.$color-verde-oscuro;
        transform: translateY(-2px);
      }
    }

    .why-btn {
      background: v.$color-azul;
      color: v.$color-blanco;
      &:hover {
        background: v.$color-azul-oscuro;
        transform: translateY(-2px);
      }
    }

    .spotify-icon {
      width: 1.2rem;
      height: 1.2rem;
      display: block;
    }

    .why-content {
      padding-top: 1.5rem;
      border-top: 1px solid v.$color-shadow-reco;

      p {
        font-size: 1rem;
        line-height: 1.6;
        color: v.$color-TDE;
        text-align: left;
      }
    }
  }
}

@media (max-width: 700px) {
  .recomendaciones-page {
    padding: 2rem 1rem;
    .reco-actions {
      flex-direction: column;
    }
    .reco-item {
      flex: 0 1 100%;
    }
    h2 {
      font-size: 1.8rem;
    }
  }
}
