@use "../../../styles/base/variables" as v;

.albums-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  li {
    display: flex;
    justify-content: center;
  }
}
