@use "sass:color";
@use "../../styles/base/variables" as v;

.filters-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .order-group {
    display: flex;
    background: color.change(v.$color-negro, $alpha: 0.05);
    padding: 0.3rem;
    border-radius: 8px;
    gap: 0.2rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      background: transparent;
      cursor: pointer;
      border-radius: 6px;
      transition: all 0.2s;
      font-weight: 500;
      color: v.$color-negro;
      font-size: 0.9rem;

      &.active {
        background: v.$color-blanco;
        box-shadow: 0 2px 5px color.change(v.$color-negro, $alpha: 0.1);
        color: v.$color-azul;
      }

      &:hover:not(.active) {
        background: color.change(v.$color-blanco, $alpha: 0.5);
      }
    }
  }

  .filter-group select {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 1px solid color.change(v.$color-negro, $alpha: 0.1);
    background: v.$color-blanco;
    color: v.$color-negro;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;

    &:focus {
      border-color: v.$color-azul;
    }
  }

  .actions-group {
    display: flex;
    border-radius: 8px;
    padding: 0.3rem;
    transition: background 0.3s ease;

    &:has(.reset-btn:not(.disabled)) {
      background: color.change(v.$color-negro, $alpha: 0.05);
    }

    .reset-btn {
      padding: 0.5rem 1.2rem;
      border: none;
      background: transparent;
      color: v.$color-azul;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.85rem;
      letter-spacing: 0.5px;
      cursor: pointer;
      border-radius: 6px;
      transition: all 0.3s ease;
      outline: none;

      &:hover:not(.disabled) {
        background: v.$color-blanco;
        box-shadow: 0 2px 5px color.change(v.$color-negro, $alpha: 0.05);
        color: color.adjust(v.$color-azul, $lightness: -10%);
      }
    }
  }
}

@media (max-width: 580px) {
  .filters-bar {
    flex-direction: column;
    gap: 1.2rem;

    .order-group {
      width: 100%;
      max-width: 350px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0.4rem;

      button {
        width: 100%;
        text-align: center;
        padding: 0.7rem 0.5rem;
      }
    }

    .filter-group,
    .actions-group {
      width: 100%;
      max-width: 350px;

      select,
      .reset-btn {
        width: 100%;
      }
    }
  }
}
