@use "./variables" as v;

body {
  background-color: v.$color-TDE;
  color: v.$color-blanco;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-weight: 400;
  color: v.$color-blanco;
}
